.navbar{

    &__wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between  ;
    

    
    }
    &__colection{
        display: flex;
        gap: 30px;

     
    }
    &__itms{
    // font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

        
    }
    &__btn{
        width: 220px;
        height: 70px;
        font-size: 25px;
        
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        &:hover{
            cursor: pointer;
            background-color: #000;
            color: #fff;
        }
    }
    &__btn1{
        display: none;

    }

}
@media (max-width:767px) {
    .navbar{
        &__colection{
            display: none;
            gap: 30px;
    
        }
      
   
    }
    .navbar__btn{
        display: none ;
      }  

    .navbar__btn1{
        display: block ;
        background-color: #fff;
        border: none;
        cursor: pointer;    
    }
    
}
